In [1]:
import pandas as pd
import numpy as np

In [2]:
# 데이터 인덱스 설정, 데이터 타입 변경, 라벨링 작성
sr=pd.Series([10,20,30,40,50],index=['a','b','c','d','e'], name='파이썬 점수')
sr

a    10
b    20
c    30
d    40
e    50
Name: 파이썬 점수, dtype: int64

In [3]:
sr[0]

10

In [5]:
sr[-1]

50

In [6]:
sr['a']

10

In [7]:
# 여러개의 인덱스에 해당하는 값을 출력
sr[['b','d','e']]

b    20
d    40
e    50
Name: 파이썬 점수, dtype: int64

In [10]:
sr[[1,2,4]]

b    20
c    30
e    50
Name: 파이썬 점수, dtype: int64

In [16]:
# 슬라이싱 인덱스 번호가 1~4 이면서 1씩 증가하여 해당하는 인덱스 번호의 값을 출력
sr[1:4:1]
sr[1:5:2]
sr['b':'d'] # 인덱스 b에서 d까지

b    20
c    30
d    40
Name: 파이썬 점수, dtype: int64

In [17]:
# True에 해당하는 값만 출력
sr[[True,False,True,False,False]]

a    10
c    30
Name: 파이썬 점수, dtype: int64

In [21]:
# 부여된 인덱스 기준으로 인덱싱, 슬라이싱 [인덱스명이 선언되어야함]
sr.loc['a']
sr.loc['a':'c']

a    10
b    20
c    30
Name: 파이썬 점수, dtype: int64

In [22]:
# zero base로 인덱싱, 슬라이싱 하는 속성 [인덱스명을 사용하면 에러]
sr.iloc[1]

20

In [25]:
sr.index=[2,3,4,5,6]
sr

2    10
3    20
4    30
5    40
6    50
Name: 파이썬 점수, dtype: int64

In [30]:
#인덱스가 문자열이 아니라 숫자면 해당하는 인덱스명의 값만 불러옴
sr[2]

10

In [28]:
sr.loc[2] #인덱스명이 2인 값을 불러옴

10

In [29]:
sr.iloc[2] #인덱스 위치가 2인 값을 불러옴

30