In [2]:
import pandas as pd
import numpy as np

In [4]:
# 데이터 인덱스 설정, 데이터 타입 변경, 라벨링 작성
sr=pd.Series([10,20,30,40,50],index=['a','b','c','d','e'], name='파이썬 점수')
sr

a    10
b    20
c    30
d    40
e    50
Name: 파이썬 점수, dtype: int64

In [6]:
# element wise (요소별 연산)
# sr = sr+1
sr+1

a    11
b    21
c    31
d    41
e    51
Name: 파이썬 점수, dtype: int64

In [8]:
sr*2

a     20
b     40
c     60
d     80
e    100
Name: 파이썬 점수, dtype: int64

In [20]:
# 각 연봉에 대해 세금 3.3을 제한 실수령 액을 구하시오
salary=pd.Series([1000,2000,3000,4000,5000], name='연봉')
salary

0    1000
1    2000
2    3000
3    4000
4    5000
Name: 연봉, dtype: int64

In [22]:
salary-(salary*0.033)

0     967.0
1    1934.0
2    2901.0
3    3868.0
4    4835.0
Name: 연봉, dtype: float64

In [25]:
# 관계 연산도 사용가능
sr>=30
sr[sr>=30] # True인 값만 출력 30이상인 값만 출력하는 방법

c    30
d    40
e    50
Name: 파이썬 점수, dtype: int64

In [26]:
# 논리 연산자 (&(and), |(or), ~(not)) -> R 표현식

In [29]:
# 논리 연산자가 우선순위가 높기 때문에 () 써야함
# |(or)
(sr==20) | (sr==50)

a    False
b     True
c    False
d    False
e     True
Name: 파이썬 점수, dtype: bool

In [31]:
sr[(sr==20) | (sr==50)]

b    20
e    50
Name: 파이썬 점수, dtype: int64

In [34]:
# &(and)
(sr>=20) & (sr<=40)

a    False
b     True
c     True
d     True
e    False
Name: 파이썬 점수, dtype: bool

In [35]:
# ~(not) True는 False, False는 True
~((sr==20) | (sr==50))

a     True
b    False
c     True
d     True
e    False
Name: 파이썬 점수, dtype: bool