## 그룹연산
- 데이터를 집계하거나 변환하는 등의 작업을 한번에 처리
- 분할-반영-결합 => (split-apply-combine)

## 11-1 데이터 집계하기 -groupby 메서드

In [52]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
# 데이터 불러오기
df = pd.read_csv('data/gapminder.tsv', sep='\t')
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [6]:
# year 열을 기준으로 데이터를 그룹화한 다음 lifeExp 열의 평균 구하기
avg_life_exp_by_year = df.groupby('year')['lifeExp'].mean()
print(avg_life_exp_by_year)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

### 분할-반영-결합 과정 살펴보기

In [7]:
# year 열의 데이터를 중복 없이 추출 => '분할'
# groupby 메서드에 열 이름을 전달하면 '분할' 작업이 먼저 일어남
years = df['year'].unique()
print(years)

[1952 1957 1962 1967 1972 1977 1982 1987 1992 1997 2002 2007]

In [10]:
# 연도별로 데이터를 추출 => '반영'
y1952 = df.loc[df['year'] == 1952]
print(y1952.head())

        country continent  year  lifeExp       pop    gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333   779.445314
12      Albania    Europe  1952   55.230   1282697  1601.056136
24      Algeria    Africa  1952   43.077   9279525  2449.008185
36       Angola    Africa  1952   30.015   4232095  3520.610273
48    Argentina  Americas  1952   62.485  17876956  5911.315053

In [14]:
# lifeExp 열의 평균값 구하기 => '반영'
y1952_mean = y1952['lifeExp'].mean()
print(y1952_mean)

49.05761971830987

In [ ]:
# 반영 부분을 반복하여 마지막에 데이터프레임 형태로'결합'을 함

### groupby 메서드와 함께 사용하는 집계 메서드
- count : 누락값을 제외한 데이터 수를 반환
- size  : 누락값을 포함한 데이터 수를 반환
- mean  : 평균값 반환
- std   : 표준편차 반환
- max   : 최댓값 반환
- min   : 최솟값 반환
- sum   : 전체 합 반환
- var   : 분산 반환
- sem   : 평균의 표준편차 반환
- describe : 데이터 수, 평균, 표준 편차, 최소값, 백분위수(25,50,75), 최댓값을 모두 반환
- first : 첫번째 행 반환
- last  : 마지막 행 반환
- nth   : n번째 행 반환
- quantile(q=?) : 백분위수 (?)%

### agg 메서드로 사용자 함수와 griupby 메서드 조합하기

In [35]:
def me(a):
    print(a)

In [38]:
# 함수 적용시 컬럼의 값을 시리즈 타입으로 각 행씩 출력
df['lifeExp'].apply(me)

28.801
30.331999999999997
31.997
34.02
36.088
38.438
39.854
40.821999999999996
41.674
41.763000000000005
42.129
43.828
55.23
59.28
64.82
66.22
67.69
68.93
70.42
72.0
71.581
72.95
75.65100000000001
76.423
43.077
45.685
48.303000000000004
51.407
54.518
58.013999999999996
61.368
65.79899999999999
67.744
69.152
70.994
72.301
30.015
31.999000000000002
34.0
35.985
37.928000000000004
39.483000000000004
39.942
39.906
40.647
40.963
41.003
42.731
62.485
64.399
65.142
65.634
67.065
68.48100000000001
69.942
70.774
71.868
73.275
74.34
75.32
69.12
70.33
70.93
71.1
71.93
73.49
74.74
76.32
77.56
78.83
80.37
81.235
66.8
67.48
69.54
70.14
70.63
72.17
73.18
74.94
76.04
77.51
78.98
79.829
50.93899999999999
53.832
56.923
59.923
63.3
65.593
69.05199999999999
70.75
72.601
73.925
74.795
75.635
37.484
39.348
41.216
43.453
45.251999999999995
46.923
50.00899999999999
52.818999999999996
56.018
59.412
62.013000000000005
64.062
68.0
69.24
70.25
70.94
71.44
72.8
73.93
75.35
76.46
77.53
78.32
79.441
38.223
40.358000000000004
42.618
44.885
47.013999999999996
49.19
50.903999999999996
52.336999999999996
53.919
54.777
54.406000000000006
56.728
40.414
41.89
43.428000000000004
45.032
46.714
50.023
53.858999999999995
57.251000000000005
59.957
62.05
63.883
65.554
53.82
58.45
61.93
64.79
67.45
69.86
70.69
71.14
72.178
73.244
74.09
74.852
47.622
49.618
51.52
53.298
56.023999999999994
59.318999999999996
61.483999999999995
63.622
62.745
52.556000000000004
46.63399999999999
50.728
50.917
53.285
55.665
57.632
59.504
61.489
63.336000000000006
65.205
67.057
69.388
71.006
72.39
59.6
66.61
69.51
70.42
70.9
70.81
71.08
71.34
71.19
70.32
72.14
73.005
31.975
34.906
37.814
40.696999999999996
43.591
46.137
48.122
49.556999999999995
50.26
50.324
50.65
52.295
39.031
40.533
42.045
43.548
44.056999999999995
45.91
47.471000000000004
48.211000000000006
44.736000000000004
45.326
47.36
49.58
39.417
41.36600000000001
43.415
45.415
40.317
31.22
50.957
53.913999999999994
55.803000000000004
56.534
56.751999999999995
59.723
38.523
40.428000000000004
42.643
44.799
47.049
49.355
52.961000000000006
54.985
54.31399999999999
52.199
49.856
50.43
68.75
69.96
71.3
72.13
72.88
74.21
75.76
76.86
77.95
78.61
79.77
80.653
35.463
37.464
39.475
41.478
43.457
46.775
48.295
50.485
49.396
46.066
43.308
44.74100000000001
38.092
39.881
41.716
43.601000000000006
45.568999999999996
47.383
49.516999999999996
51.051
51.724
51.573
50.525
50.651
54.745
56.074
57.924
60.523
63.441
67.05199999999999
70.565
72.492
74.126
75.816
77.86
78.553
44.0
50.54896
44.50136
58.381119999999996
63.118880000000004
63.96736
65.525
67.274
68.69
70.426
72.028
72.961
50.643
55.118
57.863
59.963
61.623000000000005
63.836999999999996
66.653
67.768
68.421
70.313
71.682
72.889
40.715
42.46
44.467
46.472
48.943999999999996
50.93899999999999
52.933
54.926
57.93899999999999
60.66
62.974
65.152
39.143
40.652
42.122
44.056000000000004
45.989
47.803999999999995
47.784
47.412
45.548
42.586999999999996
44.966
46.461999999999996
42.111000000000004
45.053000000000004
48.435
52.04
54.907
55.625
56.695
57.47
56.433
52.961999999999996
52.97
55.321999999999996
57.206
60.026
62.842
65.42399999999999
67.84899999999999
70.75
73.45
74.752
75.71300000000001
77.26
78.123
78.782
40.477
42.468999999999994
44.93
47.35
49.801
52.373999999999995
53.983000000000004
54.655
52.044
47.99100000000001
46.832
48.328
61.21
64.77
67.13
68.5
69.61
70.64
70.46
71.52
72.527
73.68
74.876
75.748
59.42100000000001
62.325
65.24600000000001
68.29
70.723
72.649
73.717
74.17399999999999
74.414
76.15100000000001
77.158
78.273
66.87
69.03
69.9
70.38
70.29
70.71
70.96
71.58
72.4
74.01
75.51
76.486
70.78
71.81
72.35
72.96
73.47
74.69
74.63
74.8
75.33
76.11
77.18
78.332
34.812
37.328
39.693000000000005
42.074
44.36600000000001
46.519
48.812
50.04
51.604
53.157
53.373000000000005
54.791000000000004
45.928000000000004
49.828
53.458999999999996
56.751000000000005
59.631
61.788000000000004
63.727
66.046
68.457
69.957
70.847
72.235
48.357
51.356
54.64
56.678000000000004
58.79600000000001
61.31
64.342
67.23100000000001
69.613
72.312
74.173
74.994
41.893
44.443999999999996
46.992
49.293
51.137
53.318999999999996
56.006
59.797
63.674
67.217
69.806
71.33800000000001
45.262
48.57
52.306999999999995
55.855
58.207
56.696000000000005
56.604
63.153999999999996
66.798
69.535
70.734
71.878
34.482
35.983000000000004
37.485
38.986999999999995
40.516
42.023999999999994
43.662
45.663999999999994
47.545
48.245
49.348
51.57899999999999
35.928000000000004
38.047
40.158
42.18899999999999
44.141999999999996
44.535
43.89
46.453
49.99100000000001
53.378
55.24
58.04
34.078
36.667
40.059
42.115
43.515
44.51
44.916000000000004
46.684
48.091
49.402
50.725
52.946999999999996
66.55
67.49
68.75
69.83
70.87
72.52
74.55
74.83
75.7
77.13
78.37
79.313
67.41
68.93
70.51
71.55
72.38
73.83
74.89
76.34
77.46
78.64
79.59
80.657
37.003
38.999
40.489000000000004
44.598
48.69
52.79
56.56399999999999
60.19
61.36600000000001
60.461000000000006
56.761
56.735
30.0
32.065
33.896
35.857
38.308
41.842
45.58
49.265
52.644
55.861000000000004
58.041000000000004
59.448
67.5
69.1
70.3
70.8
71.0
72.5
73.8
74.847
76.07
77.34
78.67
79.406
43.148999999999994
44.778999999999996
46.452
48.071999999999996
49.875
51.756
53.744
55.729
57.501000000000005
58.556000000000004
58.453
60.022
65.86
67.86
69.51
71.0
72.34
73.68
75.24
76.67
77.03
77.869
78.256
79.483
42.023
44.141999999999996
46.95399999999999
50.016000000000005
53.738
56.028999999999996
58.137
60.782
63.373000000000005
66.322
68.97800000000001
70.259
33.609
34.558
35.753
37.196999999999996
38.842
40.762
42.891000000000005
45.552
48.576
51.455
53.676
56.007
32.5
33.489000000000004
34.488
35.492
36.486
37.465
39.327
41.245
43.266000000000005
44.873000000000005
45.504
46.388000000000005
37.579
40.696
43.59
46.243
48.042
49.923
51.461000000000006
53.636
55.089
56.67100000000001
58.137
60.916000000000004
41.912
44.665
48.041000000000004
50.924
53.88399999999999
57.402
60.909
64.492
66.399
67.65899999999999
68.565
70.19800000000001
60.96
64.75
67.65
70.0
72.0
73.6
75.45
76.2
77.601
80.0
81.495
82.208
64.03
66.41
67.96
69.5
69.76
69.95
69.39
69.58
69.17
71.04
72.59
73.33800000000001
72.49
73.47
73.68
73.73
74.46
76.11
76.99
77.23
78.77
78.95
80.5
81.757
37.373000000000005
40.249
43.605
47.193000000000005
50.651
54.208
56.596000000000004
58.553000000000004
60.223
61.765
62.879
64.69800000000001
37.468
39.918
42.518
45.964
49.203
52.702
56.159
60.137
62.681000000000004
66.041
68.58800000000001
70.65
44.869
47.181000000000004
49.325
52.468999999999994
55.233999999999995
57.702
59.62
63.04
65.742
68.042
69.45100000000001
70.964
45.32
48.437
51.457
54.458999999999996
56.95
60.413000000000004
62.038000000000004
65.044
59.461000000000006
58.81100000000001
57.04600000000001
59.545
66.91
68.9
70.29
71.08
71.28
72.03
73.1
74.36
75.467
76.122
77.783
78.885
65.39
67.84
69.39
70.75
71.63
73.06
74.45
75.6
76.93
78.26899999999999
79.696
80.745
65.94
67.81
69.24
71.06
72.19
73.48
74.98
76.42
77.44
78.82
80.24
80.546
58.53
62.61
65.61
67.51
69.0
70.11
71.21
71.77
71.766
72.262
72.047
72.567
63.03
65.5
68.73
71.43
73.42
75.38
77.11
78.67
79.36
80.69
82.0
82.603
43.158
45.669
48.126000000000005
51.629
56.528
61.13399999999999
63.739
65.869
68.015
69.77199999999999
71.263
72.535
42.27
44.68600000000001
47.949
50.653999999999996
53.559
56.155
58.766000000000005
59.339
59.285
54.407
50.992
54.11
50.056000000000004
54.081
56.656000000000006
59.942
63.983000000000004
67.15899999999999
69.1
70.64699999999999
69.97800000000001
67.727
66.66199999999999
67.297
47.453
52.681000000000004
55.292
57.716
62.611999999999995
64.766
67.123
69.81
72.244
74.64699999999999
77.045
78.623
55.565
58.033
60.47
64.624
67.712
69.343
71.309
74.17399999999999
75.19
76.156
76.904
77.58800000000001
55.928000000000004
59.489
62.093999999999994
63.87
65.421
66.09899999999999
66.983
67.926
69.292
70.265
71.028
71.993
42.138000000000005
45.047
47.747
48.492
49.766999999999996
52.208
55.078
57.18
59.685
55.558
44.593
42.592
38.48
39.486
40.501999999999995
41.536
42.614
43.763999999999996
44.852
46.027
40.802
42.221000000000004
43.753
45.678000000000004
42.723
45.288999999999994
47.808
50.227
52.773
57.442
62.155
66.234
68.755
71.555
72.737
73.952
36.681
38.865
40.848
42.881
44.851000000000006
46.881
48.968999999999994
49.35
52.214
54.978
57.286
59.443000000000005
36.256
37.207
38.41
39.486999999999995
41.766000000000005
43.766999999999996
45.641999999999996
47.457
49.42
47.495
45.00899999999999
48.303000000000004
48.463
52.102
55.736999999999995
59.371
63.01
65.256
68.0
69.5
70.693
71.938
73.044
74.241
33.685
35.306999999999995
36.936
38.486999999999995
39.977
41.714
43.916000000000004
46.364
48.388000000000005
49.903
51.818000000000005
54.467
40.543
42.338
44.248000000000005
46.288999999999994
48.437
50.852
53.599
56.145
58.333
60.43
62.247
64.164
50.986000000000004
58.089
60.246
61.556999999999995
62.943999999999996
64.93
66.711
68.74
69.745
70.736
71.954
72.801
50.788999999999994
55.19
58.299
60.11
62.361000000000004
65.032
67.405
69.498
71.455
73.67
74.902
76.195
42.244
45.248000000000005
48.251000000000005
51.253
53.754
55.49100000000001
57.489
60.222
61.271
63.625
65.033
66.803
59.163999999999994
61.448
63.728
67.178
70.63600000000001
73.066
74.101
74.865
75.435
75.445
73.98100000000001
74.543
42.873000000000005
45.423
47.924
50.335
52.861999999999995
55.73
59.65
62.677
65.393
67.66
69.615
71.164
31.285999999999998
33.779
36.161
38.113
40.328
42.495
42.795
42.861000000000004
44.284
46.343999999999994
44.026
42.082
36.319
41.905
45.108000000000004
49.379
53.07
56.059
58.056000000000004
58.339
59.32
60.328
59.908
62.068999999999996
41.725
45.226000000000006
48.386
51.159
53.867
56.437
58.968
60.835
61.998999999999995
58.909
51.479
52.906000000000006
36.157
37.686
39.393
41.472
43.971000000000004
46.748000000000005
49.593999999999994
52.537
55.727
59.426
61.34
63.785
72.13
72.99
73.23
73.82
73.75
75.24
76.05
76.83
77.42
78.03
78.53
79.762
69.39
70.26
71.24
71.52
71.89
72.22
73.84
74.32
76.33
77.55
79.11
80.204
42.31399999999999
45.431999999999995
48.632
51.88399999999999
55.151
57.47
59.298
62.008
65.843
68.426
70.836
72.899
37.444
38.598
39.486999999999995
40.118
40.546
41.291000000000004
42.598
44.555
47.391000000000005
51.313
54.496
56.867
36.324
37.802
39.36
41.04
42.821000000000005
44.513999999999996
45.826
46.886
47.472
47.464
46.608000000000004
46.858999999999995
72.67
73.44
73.47
74.08
74.34
75.37
75.97
75.89
77.32
78.32
79.05
80.196
37.578
40.08
43.165
46.988
52.143
57.367
62.728
67.734
71.197
72.499
74.193
75.64
43.43600000000001
45.556999999999995
47.67
49.8
51.928999999999995
54.043
56.158
58.245
60.838
61.818000000000005
63.61
65.483
55.191
59.201
61.817
64.071
66.21600000000001
68.681
70.472
71.523
72.462
73.738
74.712
75.53699999999999
62.648999999999994
63.196000000000005
64.361
64.95100000000001
65.815
66.35300000000001
66.874
67.378
68.225
69.4
70.755
71.752
43.902
46.263000000000005
49.096000000000004
51.445
55.448
58.446999999999996
61.406000000000006
64.134
66.458
68.38600000000001
69.906
71.421
47.751999999999995
51.333999999999996
54.757
56.393
58.065
60.06
62.082
64.15100000000001
66.458
68.564
70.303
71.688
61.31
65.77
67.64
69.61
70.85
70.67
71.32
70.98
70.99
72.75
74.67
75.563
59.82
61.51
64.39
66.6
69.26
70.41
72.77
74.06
74.86
75.97
77.29
78.098
64.28
68.54
69.62
71.1
72.16
73.44
73.75
74.63
73.911
74.917
77.778
78.74600000000001
52.724
55.09
57.666000000000004
60.542
64.274
67.064
69.885
71.913
73.615
74.77199999999999
75.744
76.442
61.05
64.1
66.8
66.8
69.21
69.46
69.66
69.53
69.36
69.72
71.322
72.476
40.0
41.5
43.0
44.1
44.6
45.0
46.218
44.02
23.599
36.086999999999996
43.413000000000004
46.242
46.471000000000004
48.945
51.893
54.425
56.48
58.55
60.351000000000006
61.728
62.742
63.306000000000004
64.337
65.528
39.875
42.868
45.913999999999994
49.901
53.886
58.69
63.012
66.295
68.768
70.533
71.626
72.777
37.278
39.329
41.45399999999999
43.563
45.815
48.879
52.379
55.769
58.196000000000005
60.187
61.6
63.062
57.996
61.685
64.531
66.914
68.7
70.3
70.16199999999999
71.218
71.65899999999999
72.232
73.21300000000001
74.002
30.331
31.57
32.766999999999996
34.113
35.4
36.788000000000004
38.445
40.006
38.333
39.897
41.012
42.568000000000005
60.396
63.178999999999995
65.798
67.946
69.521
70.795
71.76
73.56
75.788
77.158
78.77
79.972
64.36
67.45
70.33
70.98
70.35
70.45
70.8
71.08
71.38
72.71
73.8
74.663
65.57
67.85
69.15
69.18
69.82
70.97
71.063
72.25
73.64
75.13
76.66
77.926
32.978
34.977
36.981
38.977
40.973
41.974
42.955
44.501000000000005
39.658
43.795
45.93600000000001
48.159
45.00899999999999
47.985
49.951
51.927
53.696000000000005
55.527
58.161
60.833999999999996
61.888000000000005
60.236000000000004
53.365
49.339
64.94
66.66
69.69
71.44
73.06
74.39
76.3
76.9
77.57
78.77
79.78
80.941
57.593
61.456
62.192
64.266
65.042
65.949
68.757
69.01100000000001
70.37899999999999
70.457
70.815
72.396
38.635
39.624
40.87
42.858000000000004
45.083
47.8
50.338
51.744
53.556000000000004
55.373000000000005
56.369
58.556000000000004
41.407
43.424
44.992
46.633
49.552
52.537
55.56100000000001
57.678000000000004
58.474
54.288999999999994
43.869
39.613
71.86
72.49
73.37
74.16
74.72
75.44
76.42
77.19
78.16
79.39
80.04
80.884
69.62
70.56
71.32
72.77
73.78
75.39
76.21
77.41
78.03
79.37
80.62
81.70100000000001
45.883
48.284
50.305
53.655
57.29600000000001
61.195
64.59
66.97399999999999
69.249
71.527
73.053
74.143
58.5
62.4
65.2
67.5
69.39
70.59
72.16
73.4
74.26
75.25
76.99
78.4
41.215
42.974
44.246
45.757
47.62
49.919
50.608000000000004
51.535
50.44
48.466
49.651
52.516999999999996
50.848
53.63
56.06100000000001
58.285
60.405
62.494
64.597
66.084
67.298
67.521
68.564
70.616
38.596
41.208
43.922
46.769
49.75899999999999
52.887
55.471000000000004
56.941
58.06100000000001
58.39
57.56100000000001
58.42
59.1
61.8
64.9
65.4
65.9
68.3
68.832
69.582
69.862
69.465
68.976
69.819
44.6
47.1
49.57899999999999
52.053000000000004
55.602
59.836999999999996
64.048
66.89399999999999
70.001
71.973
73.042
73.923
43.585
48.07899999999999
52.098
54.336000000000006
57.005
59.507
61.036
63.108000000000004
66.146
68.835
70.845
71.777
39.978
42.571000000000005
45.343999999999994
48.051
51.016000000000005
50.35
49.849
51.50899999999999
48.825
44.578
47.813
51.542
69.18
70.42
70.76
71.36
72.01
72.76
74.04
75.007
76.42
77.218
78.471
79.425
68.44
69.49
70.21
70.76
71.34
73.38
74.65
75.02
76.09
76.81
77.31
78.242
66.071
67.044
68.253
68.468
68.673
69.48100000000001
70.805
71.918
72.752
74.223
75.307
76.384
55.088
57.907
60.77
63.479
65.712
67.456
68.557
70.19
71.15
72.146
72.766
73.747
40.412
42.887
45.363
47.838
50.254
55.763999999999996
58.816
62.82
67.66199999999999
70.672
73.017
74.249
43.16
45.67100000000001
48.126999999999995
51.631
56.532
60.765
64.406
67.046
69.718
71.096
72.37
73.422
32.548
33.97
35.18
36.984
39.848
44.175
49.113
52.922
55.599
58.02
60.308
62.698
42.038000000000004
44.077
46.023
47.768
50.107
51.386
51.821000000000005
50.821000000000005
46.1
40.238
39.193000000000005
42.38399999999999
48.451
50.468999999999994
52.358000000000004
53.995
55.635
57.674
60.363
62.351000000000006
60.376999999999995
46.809
39.989000000000004
43.486999999999995

0       None
1       None
2       None
3       None
4       None
        ...
1699    None
1700    None
1701    None
1702    None
1703    None
Name: lifeExp, Length: 1704, dtype: object

In [15]:
# 평균값을 구하는 함수 만들기
def my_mean(values):
    n = len(values)
    sum = 0
    for value in values:
        sum += value
    return sum / n

In [16]:
# 사용자 정의 함수와 groupby 메서드를 조합하기 위해 agg 메서드 사용
agg_my_mean = df.groupby('year')['lifeExp'].agg(my_mean)
print(agg_my_mean)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [39]:
# 2개의 인잣값을 받아 처리하는 사용자함수 만들기
# 첫번쨰 인자로 받은 열의 평균값을 구하여, 두번째 인자로 받은 값과의 차이를 계산한 다음 반환하는 함수
def my_mean_diff(values, diff_value):
    n = len(values)
    sum = 0
    for value in values:
        sum +=  value
    mean = sum / n
    return mean - diff_value

In [42]:
# 연도별 평균 수명에서 전체 평균 수명을 뺀 값을 구함
global_mean = df['lifeExp'].mean()
print(global_mean)

agg_mean_diff = df.groupby('year')['lifeExp'].agg(my_mean_diff, diff_value=global_mean)
print(agg_mean_diff)

59.47443936619713
year
1952   -10.416820
1957    -7.967038
1962    -5.865190
1967    -3.796150
1972    -1.827053
1977     0.095718
1982     2.058758
1987     3.738173
1992     4.685899
1997     5.540237
2002     6.220483
2007     7.532983
Name: lifeExp, dtype: float64

In [44]:
# 여러개의 집계 메서드 한번에 사용하기 (함수 적용시 시리즈 형태로 출력되기 때문에 np사용)
gdf = df.groupby('year')['lifeExp'].agg([np.count_nonzero, np.mean,np.std])
print(gdf)

      count_nonzero       mean        std
year
1952          142.0  49.057620  12.225956
1957          142.0  51.507401  12.231286
1962          142.0  53.609249  12.097245
1967          142.0  55.678290  11.718858
1972          142.0  57.647386  11.381953
1977          142.0  59.570157  11.227229
1982          142.0  61.533197  10.770618
1987          142.0  63.212613  10.556285
1992          142.0  64.160338  11.227380
1997          142.0  65.014676  11.559439
2002          142.0  65.694923  12.279823
2007          142.0  67.007423  12.073021

## 11-2 데이터 변환
- 데이터 변환 메서드는 데이터와 메서드를 일대일로 대응시켜 계산하기 때문에 데이터 양은 줄어들지 않음

In [47]:
# 표준점수 계산하기 (데이터의 평균 - 표준편차)
def my_zscore(x):
    return (x-x.mean()) / x.std()

In [51]:
# transform 메서드 적용
transform_z = df.groupby('year')['lifeExp'].transform(my_zscore)
print(transform_z.head())

0   -1.656854
1   -1.731249
2   -1.786543
3   -1.848157
4   -1.894173
Name: lifeExp, dtype: float64

In [69]:
# 누락값을 평균값으로 처리하기

# 똑같은 난수 생성을 원할때 사용
np.random.seed(42)

# tips 데이터 10개 가져오기
tips_10 = sns.load_dataset('tips').sample(10)

# total_bill 열의 값 4개를 임의로 선택하여 누락값으로 바꿈
tips_10.loc[np.random.permutation(tips_10.index)[:4],'total_bill'] = np.NaN
print(tips_10)

     total_bill   tip     sex smoker   day    time  size
24        19.82  3.18    Male     No   Sat  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
153         NaN  2.00    Male     No   Sun  Dinner     4
211         NaN  5.16    Male    Yes   Sat  Dinner     4
198         NaN  2.00  Female    Yes  Thur   Lunch     2
176         NaN  2.00    Male    Yes   Sun  Dinner     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
9         14.78  3.23    Male     No   Sun  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [70]:
# 열의 누락값을 채울때 단순히 열의 평균값으로 채우면 안됨
# tips 데이터는 남성과 여성으로 나누어져있기 때문에 데이터를 살펴보고 해야함
count_sex = tips_10.groupby('sex').count()
print(count_sex)

        total_bill  tip  smoker  day  time  size
sex
Male             4    7       7    7     7     7
Female           2    3       3    3     3     3

In [73]:
# 성별을 구분하여 total_bill 열의 데이터를 받아 평균값을 구하는 함수
def fill_na_mean(x):
    avg = x.mean()
    return x.fillna(avg) #Nan값을 avg 값으로 바꿈

In [78]:
tips_10.groupby('sex')['total_bill'].mean()

sex
Male      17.9525
Female    13.9300
Name: total_bill, dtype: float64

In [74]:
# total_bill 열의 데이터를 함수에 전달하여 평균값을 구한 다음 새로운 열에 추가
# 남성의 Nan 값이 17.9525, 여성의 Nan 값이 13.93

total_bill_group_mean = tips_10.groupby('sex')['total_bill'].transform(fill_na_mean)
tips_10['fill_total_bill'] = total_bill_group_mean
print(tips_10)

     total_bill   tip     sex smoker   day    time  size  fill_total_bill
24        19.82  3.18    Male     No   Sat  Dinner     2          19.8200
6          8.77  2.00    Male     No   Sun  Dinner     2           8.7700
153         NaN  2.00    Male     No   Sun  Dinner     4          17.9525
211         NaN  5.16    Male    Yes   Sat  Dinner     4          17.9525
198         NaN  2.00  Female    Yes  Thur   Lunch     2          13.9300
176         NaN  2.00    Male    Yes   Sun  Dinner     2          17.9525
192       28.44  2.56    Male    Yes  Thur   Lunch     2          28.4400
124       12.48  2.52  Female     No  Thur   Lunch     2          12.4800
9         14.78  3.23    Male     No   Sun  Dinner     2          14.7800
101       15.38  3.00  Female    Yes   Fri  Dinner     2          15.3800

## 11-3 데이터 필터링
- 그룹화한 데이터에서 원하는 데이터를 걸러내고 싶을때 사용

In [83]:
# 데이터 불러오기
tips = sns.load_dataset('tips')
print(tips.shape)
print(tips)

(244, 7)
     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [94]:
tips.groupby('size').count()
print(tips['size'].value_counts())

2    156
3     38
4     37
5      5
6      4
1      4
Name: size, dtype: int64

In [97]:
# 30번 이상의 주문이 있는 테이블만 그룹화하여 변수에 저장
tips_fillterd = tips.groupby('size').filter(lambda x: x['size'].count() >= 30)
print(tips_fillterd)
print(tips_fillterd['size'].value_counts())

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[231 rows x 7 columns]
2    156
3     38
4     37
Name: size, dtype: int64

## 11-4 그룹 오브젝트

In [99]:
# 42번 seed에 있는 임의의 데이터 10개 불러오기
tips_10 = sns.load_dataset('tips').sample(10, random_state=42)
tips_10

     total_bill   tip     sex smoker   day    time  size
24        19.82  3.18    Male     No   Sat  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
153       24.55  2.00    Male     No   Sun  Dinner     4
211       25.89  5.16    Male    Yes   Sat  Dinner     4
198       13.00  2.00  Female    Yes  Thur   Lunch     2
176       17.89  2.00    Male    Yes   Sun  Dinner     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
9         14.78  3.23    Male     No   Sun  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [101]:
# groupby 메서드의 결괏값을 출력하면 자료형이 그룹 오브젝트라는 것을 확인
grouped = tips_10.groupby('sex')
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fb26a16ea90>

In [102]:
# 그룹 오브젝트에 포함된 그룹을 보려면 groups 속성을 출력
# 특정 열로 그룹화한 데이터프레임의 인덱스를 확인
print(grouped.groups)

{'Male': [24, 6, 153, 211, 176, 192, 9], 'Female': [198, 124, 101]}

In [104]:
# 한번에 그룹 오브젝트 계산하기
# 자동으로 계산할 수 있는 열을 골라줌
avgs = grouped.mean()
print(avgs)

        total_bill       tip      size
sex
Male         20.02  2.875714  2.571429
Female       13.62  2.506667  2.000000

In [105]:
# 그룹 오브젝트에서 특정 데이터만 추출하기 (get_group)
female = grouped.get_group('Female')
print(female)

     total_bill   tip smoker   day    time  size
198       13.00  2.00    Yes  Thur   Lunch     2
124       12.48  2.52     No  Thur   Lunch     2
101       15.38  3.00    Yes   Fri  Dinner     2

In [107]:
# 각 성별의 그룹을 출력 => 반복문 사용
# 튜플의 형태로 값이 넘어옴

for sex_group in grouped:
    print(sex_group)

('Male',      total_bill   tip   sex smoker   day    time  size
24        19.82  3.18  Male     No   Sat  Dinner     2
6          8.77  2.00  Male     No   Sun  Dinner     2
153       24.55  2.00  Male     No   Sun  Dinner     4
211       25.89  5.16  Male    Yes   Sat  Dinner     4
176       17.89  2.00  Male    Yes   Sun  Dinner     2
192       28.44  2.56  Male    Yes  Thur   Lunch     2
9         14.78  3.23  Male     No   Sun  Dinner     2)
('Female',      total_bill   tip     sex smoker   day    time  size
198       13.00  2.00  Female    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2)

### 여러 열을 사용해 그룹 오브젝트 만들고 계산하기

In [109]:
# 여러 열을 사용하여 데이터를 그룹화하려면 리스트에 열 이름을 담아 groupby 메서드에 전달
bill_sex_time = tips_10.groupby(['sex','time'])
group_avg = bill_sex_time.mean()
print(group_avg)

               total_bill       tip      size
sex    time
Male   Lunch    28.440000  2.560000  2.000000
       Dinner   18.616667  2.928333  2.666667
Female Lunch    12.740000  2.260000  2.000000
       Dinner   15.380000  3.000000  2.000000

In [115]:
# 데이터 타입 확인하기
print(type(group_avg)) # 데이터프레임
print(group_avg.columns)
print(group_avg.index)

<class 'pandas.core.frame.DataFrame'>
Index(['total_bill', 'tip', 'size'], dtype='object')
MultiIndex([(  'Male',  'Lunch'),
            (  'Male', 'Dinner'),
            ('Female',  'Lunch'),
            ('Female', 'Dinner')],
           names=['sex', 'time'])

In [117]:
# 데이터프레임의 인덱스가 멀티 인덱스인 경우에는 reset_index를 사용하여 인덱스를 새로 부여할수 있음
group_method = tips_10.groupby(['sex','time']).mean().reset_index()
print(group_method)

      sex    time  total_bill       tip      size
0    Male   Lunch   28.440000  2.560000  2.000000
1    Male  Dinner   18.616667  2.928333  2.666667
2  Female   Lunch   12.740000  2.260000  2.000000
3  Female  Dinner   15.380000  3.000000  2.000000

In [118]:
# 데이터프레임의 인덱스가 멀티 인덱스인 경우에는 reset_index 대신 as_index = False를 사용해도 됨
group_method = tips_10.groupby(['sex','time'], as_index=False).mean()
print(group_method)

      sex    time  total_bill       tip      size
0    Male   Lunch   28.440000  2.560000  2.000000
1    Male  Dinner   18.616667  2.928333  2.666667
2  Female   Lunch   12.740000  2.260000  2.000000
3  Female  Dinner   15.380000  3.000000  2.000000