## 1. 자료형 다루기

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
tips = sns.load_dataset('tips') # seaborn 샘플 데이터 불러오기
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [3]:
# 여러가지 자료형을 문자열로 변환하기
# sex 열의 데이터를 문자열로 변환하여 새로운 열 sex_str에 저장
tips['sex_str'] = tips['sex'].astype(str)

In [4]:
# 자료형 확인
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

### 잘못 입력한 데이터 처리하기

In [8]:
# 잘못 입력한 문자열 처리하기 -to_numeric 메서드
tips_sub_miss = tips.head(10)
tips_sub_miss.loc[[1,3,5,7], 'total_bill'] = 'missing' # 인덱스 번호에 해당하는 total_bill 컬럼값 바꾸기
print(tips_sub_miss)

  total_bill   tip     sex smoker  day    time  size sex_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female
1    missing  1.66    Male     No  Sun  Dinner     3    Male
2      21.01  3.50    Male     No  Sun  Dinner     3    Male
3    missing  3.31    Male     No  Sun  Dinner     2    Male
4      24.59  3.61  Female     No  Sun  Dinner     4  Female
5    missing  4.71    Male     No  Sun  Dinner     4    Male
6       8.77  2.00    Male     No  Sun  Dinner     2    Male
7    missing  3.12    Male     No  Sun  Dinner     4    Male
8      15.04  1.96    Male     No  Sun  Dinner     2    Male
9      14.78  3.23    Male     No  Sun  Dinner     2    Male

In [11]:
# 자료형 확인
print(tips_sub_miss.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

#### to_numeric 메서드 erros인자를 활용 
- pd.to_numeriic(데이터, errors = 인자)
    - raise : 숫자로 변환할 수 없는 값이 있으면 오류 발생
    - coerce : 숫자로 변환할 수 없는 값을 누락값으로 지정
    - gnore : 아무 작업도 하지 않음

In [14]:
# errors 인자 coerce를 사용하여 float형으로 변경
# 문자열을 Nan값으로 변경

tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'],errors= 'coerce')
print(tips_sub_miss.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [16]:
# downcast인자 사용
# ex) float64 -> float32로 변경

tips_sub_miss['total_bill'] = pd.to_numeric(tips_sub_miss['total_bill'],errors= 'coerce', downcast='float')
print(tips_sub_miss.dtypes)

total_bill     float32
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

## 2. 카테고리 자료형
- 장점과 특징
    - 용량과 속도 면에서 매우 효율적입니다.
    - 주로 동일한 문자열이 반복되어 데이터를 구성하는 경우에 사용합니다.

In [19]:
# 카테고리를 문자열로 변환하기
# 반복되는 문자열을 문자열로 구성할시 메모리가 증가
tips['sex'] = tips['sex'].astype('str')
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(3), float64(2), int64(1), object(2)
memory usage: 10.7+ KB
None

In [20]:
# 문자열을 카테고리로 변환하기
# 이와같이 반복되는 문자열로 구성된 데이터는 카테고리를 사용하여 메모리를 줄일수 있다.
tips['sex'] = tips['sex'].astype('category')
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 9.2+ KB
None