## 10. apply 메서드 활용
- apply 메서드는 사용자가 작성한 함수를 한번에 데이터프레임의 각 행과 열에 적용하여 실행할 수 있게 해주는 메서드
- for문보다 더 빠름

### 10-1 간단한 함수 만들기

In [1]:
# 제곱함수와 n제곱함수 만들기
def my_sq(x):
    return x**2

def my_exp(x,n):
    return x ** n

print(my_sq(4))
print(my_exp(2,4))

16
16

### 10-2 apply 메서드 사용하기 -기초

In [2]:
import pandas as pd

In [3]:
# 시리즈와 apply 메서드
df = pd.DataFrame({'a':[10,20,30], 'b':[20,30,40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [5]:
sq = df['a'].apply(my_sq)
print(sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [7]:
sq = df['a'].apply(my_exp, n=3)
print(sq)

0     1000
1     8000
2    27000
Name: a, dtype: int64

In [8]:
# 데이터프레임과 apply메서드
df = pd.DataFrame({'a':[10,20,30], 'b':[20,30,40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [9]:
def print_me(x):
    print(x)

In [12]:
# axis = 0 열방향, axis = 1 행방향
print(df.apply(print_me,axis=0))

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

In [14]:
def avg_3(x,y,z):
    return (x+y+z)/3

In [15]:
# avg_3 함수는 3개의 인잣값을 필요로 하는데 1개의 인잣값만 받았기 때문에 오류
# 3개의 인잣값이 들어올수 있도록 함수를 열단위로 데이터 처리
print(df.apply(avg_3))

TypeError: avg_3() missing 2 required positional arguments: 'y' and 'z'

In [25]:
def avg_3_apply(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x+y+z)/3

In [26]:
print(df.apply(avg_3_apply))

a    20.0
b    30.0
dtype: float64

### 10-3 메서드 사용하기 -고급

In [30]:
import seaborn as sns
import numpy as np

In [28]:
titanic = sns.load_dataset("titanic")

In [29]:
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 63.0+ KB
None

In [36]:
def a(a):
    print(a)

In [38]:
titanic.apply(a)

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: survived, Length: 891, dtype: int64
0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: pclass, Length: 891, dtype: int64
0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: sex, Length: 891, dtype: object
0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64
0      1
1      1
2      0
3      1
4      0
      ..
886    0
887    0
888    1
889    0
890    0
Name: sibsp, Length: 891, dtype: int64
0      0
1      0
2      0
3      0
4      0
      ..
886    0
887    0
888    2
889    0
890    0
Name: parch, Length: 891, dtype: int64
0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: fare, Length: 891, dtype: float64
0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: embarked, Length: 891, dtype: object
0       Third
1       First
2       Third
3       First
4       Third
        ...
886    Second
887     First
888     Third
889     First
890     Third
Name: class, Length: 891, dtype: category
Categories (3, object): [First, Second, Third]
0        man
1      woman
2      woman
3      woman
4        man
       ...
886      man
887    woman
888    woman
889      man
890      man
Name: who, Length: 891, dtype: object
0       True
1      False
2      False
3      False
4       True
       ...
886     True
887    False
888    False
889     True
890     True
Name: adult_male, Length: 891, dtype: bool
0      NaN
1        C
2      NaN
3        C
4      NaN
      ...
886    NaN
887      B
888    NaN
889      C
890    NaN
Name: deck, Length: 891, dtype: category
Categories (7, object): [A, B, C, D, E, F, G]
0      Southampton
1        Cherbourg
2      Southampton
3      Southampton
4      Southampton
          ...
886    Southampton
887    Southampton
888    Southampton
889      Cherbourg
890     Queenstown
Name: embark_town, Length: 891, dtype: object
0       no
1      yes
2      yes
3      yes
4       no
      ...
886     no
887    yes
888     no
889    yes
890     no
Name: alive, Length: 891, dtype: object
0      False
1      False
2       True
3      False
4       True
       ...
886     True
887     True
888    False
889     True
890     True
Name: alone, Length: 891, dtype: bool

survived       None
pclass         None
sex            None
age            None
sibsp          None
parch          None
fare           None
embarked       None
class          None
who            None
adult_male     None
deck           None
embark_town    None
alive          None
alone          None
dtype: object

In [32]:
# 누락값의 개수를 반환하는 count_missing 함수 만들기
# 판다스 isnull메서드를 통해 누락값을 확인
# 넘파이 sum 메서드를 통해 누락값의 개수 확인
def count_missing(vec):
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return null_count

In [33]:
cmis_col = titanic.apply(count_missing)
print(cmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [34]:
# 누락값의 비율을 계산하는 prop_missing 함수 만들기
def prop_missing(vec):
    num = count_missing(vec)
    dem = vec.size
    return num / dem

In [35]:
pmis_col = titanic.apply(prop_missing)
print(pmis_col)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

In [39]:
# 누락값이 아닌 데이터의 비율 구하는 함수만들기
def prop_complete(vec):
    return 1 - prop_missing(vec)

In [41]:
pcom_col = titanic.apply(prop_complete)
print(pcom_col)

survived       1.000000
pclass         1.000000
sex            1.000000
age            0.801347
sibsp          1.000000
parch          1.000000
fare           1.000000
embarked       0.997755
class          1.000000
who            1.000000
adult_male     1.000000
deck           0.227834
embark_town    0.997755
alive          1.000000
alone          1.000000
dtype: float64

In [42]:
# 데이터프레임의 누락값 처리하기 -행방향
cmis_row = titanic.apply(count_missing, axis=1)
pmis_row = titanic.apply(prop_missing, axis=1)
pcom_row = titanic.apply(prop_complete, axis=1)

In [44]:
print(cmis_row.head())
print(pmis_row.head())
print(pcom_row.head())

0    1
1    0
2    1
3    0
4    1
dtype: int64
0    0.066667
1    0.000000
2    0.066667
3    0.000000
4    0.066667
dtype: float64
0    0.933333
1    1.000000
2    0.933333
3    1.000000
4    0.933333
dtype: float64

In [45]:
# 누락값의 개수를 구하여 titanic 데이터프레임에 추가
titanic['num_missing'] = titanic.apply(count_missing, axis=1)
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone  num_missing
0    man        True  NaN  Southampton    no  False            1
1  woman       False    C    Cherbourg   yes  False            0
2  woman       False  NaN  Southampton   yes   True            1
3  woman       False    C  Southampton   yes  False            0
4    man        True  NaN  Southampton    no   True            1

In [86]:
# 누락값이 2개 이상인 데이터 보기
# sample 랜덤 행 출력
print(titanic.loc[titanic['num_missing'] > 1,:].sample(5))

     survived  pclass     sex  age  sibsp  parch     fare embarked  class  \
578         0       3  female  NaN      1      0  14.4583        C  Third
368         1       3  female  NaN      0      0   7.7500        Q  Third
470         0       3    male  NaN      0      0   7.2500        S  Third
564         0       3  female  NaN      0      0   8.0500        S  Third
692         1       3    male  NaN      0      0  56.4958        S  Third

       who  adult_male deck  embark_town alive  alone  num_missing
578  woman       False  NaN    Cherbourg    no  False            2
368  woman       False  NaN   Queenstown   yes   True            2
470    man        True  NaN  Southampton    no   True            2
564  woman       False  NaN  Southampton    no   True            2
692    man        True  NaN  Southampton   yes   True            2