In [1]:
import pandas as pd

In [6]:
# 열이 탭으로 구분되어 있다고 미리 알려주기 위해 sep 속성값으로 \t를 지정
df = pd.read_csv('data/gapminder.tsv',sep='\t')

In [9]:
print(df.head())
print(type(df))

# 행과 열의 크기에 대한 정보를 출력 (1704,6)
print(df.shape)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
<class 'pandas.core.frame.DataFrame'>
(1704, 6)

In [10]:
# columns 속성을 사용하면 데이터 프레임의 열 이름을 확인 할 수 있음
print(df.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [12]:
# 구성하는 값의 자료형은 데이터프레임의 dtype 속성이나 info 메서드로 확인
print(df.dtypes)
print('-'*20)
print(df.info())

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object
--------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

## 데이터 추출하기

In [16]:
country_df = df['country']
print(type(country_df))
print(country_df.head())
print(country_df.tail())

<class 'pandas.core.series.Series'>
0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object
1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [17]:
# 여러개의 열을 한번에 추출
subset = df[['country', 'year', 'continent']]
print(type(subset))
print(subset.head())
print(subset.tail())

<class 'pandas.core.frame.DataFrame'>
       country  year continent
0  Afghanistan  1952      Asia
1  Afghanistan  1957      Asia
2  Afghanistan  1962      Asia
3  Afghanistan  1967      Asia
4  Afghanistan  1972      Asia
       country  year continent
1699  Zimbabwe  1987    Africa
1700  Zimbabwe  1992    Africa
1701  Zimbabwe  1997    Africa
1702  Zimbabwe  2002    Africa
1703  Zimbabwe  2007    Africa

In [21]:
# 행단위 데이터 추출하기
# loc : 인덱스를 기준으로 행 데이터 추출
# iloc : 행 번호를 기준으로 행 데이터 추출

print(df.loc[0])
print('-'*20)
print(df.loc[1703])
print('-'*20)
print(df.tail(n=1))

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object
country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object
       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298