In [2]:
import pandas as pd
import numpy as np

In [54]:
# 데이터 인덱스 설정, 데이터 타입 변경, 라벨링 작성
sr=pd.Series([10,20,30,40,50],index=['a','b','c','d','e'], name='파이썬 점수')
sr

a    10
b    20
c    30
d    40
e    50
Name: 파이썬 점수, dtype: int64

In [5]:
# 추가, 수정, 삭제, 검색, 정렬 (CRUD를 수행)

In [8]:
# 수정
# sr['a']=100, sr.loc['a']=100, sriloc[0]=100 다 동일한 값
sr[0]=100
sr

a    100
b     20
c     30
d     40
e     50
Name: 파이썬 점수, dtype: int64

In [16]:
# 슬라이싱 기능 해당하는 인덱스 번호의 값을 1,2로 바꿔라
sr[1:3] =[1,2]
sr

a    100
b      1
c      2
d     40
e     50
Name: 파이썬 점수, dtype: int64

In [18]:
sr[1:3]=sr[1:3]+2
sr

a    100
b      5
c      6
d     40
e     50
Name: 파이썬 점수, dtype: int64

In [21]:
# 추가 (해당 인덱스가 없으면 추가)
sr['f']=100
sr

a     10
b     20
c     30
d     40
e     50
f    100
Name: 파이썬 점수, dtype: int64

In [39]:
#삭제
# sr.drop(인덱스)
# sr=sr.drop(['a'])
sr.drop(['a'], inplace=True)
sr

b    20
c    30
d    40
e    50
Name: 파이썬 점수, dtype: int64

In [51]:
sr=sr.drop(['d','e'])
sr

a    10
b    20
c    30
Name: 파이썬 점수, dtype: int64

In [52]:
# 30 이상인 데이터를 삭제하시오
# sr1=sr[sr>=30]
# sr1.index

sr.drop(sr[sr>=30].index) # 30 이상의 값을 가지는 값을 출력하고 거기에 해당하는 인덱스 번호로 반환하고 삭제

a    10
b    20
Name: 파이썬 점수, dtype: int64

In [56]:
sr[0]=100
sr

a    100
b     20
c     30
d     40
e     50
Name: 파이썬 점수, dtype: int64

In [59]:
# 정렬 [sr에 적용할려면 sr.sortvalues(inplace=True)] 
# (ascending=True) 오름차순, (ascending=False) 내림차순
sr.sort_values()

b     20
c     30
d     40
e     50
a    100
Name: 파이썬 점수, dtype: int64

In [64]:
# index를 내림차순
sr.sort_index(inplace=True,ascending=False)
sr

e     50
d     40
c     30
b     20
a    100
Name: 파이썬 점수, dtype: int64